<div class="container mt-5">
  <div class="form-area">
    <form #f='ngForm' (submit)="onSubmit(f)">
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" placeholder="First name" class="form-control"
          [ngClass]="{'is-invalid': firstName.invalid && firstName.touched}" name="firstName" ngModel
          #firstName="ngModel" (change)="getValue(firstName)" required minlength="5" maxlength="10">
        <div class="" *ngIf="firstName.errors?.['required']">
          <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">First name is required ...
          </div>
        </div>
        <div class="" *ngIf="firstName.errors?.['minlength']">
          <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">First name must be at least 5
            characters long ...
          </div>
        </div>
        <div class="" *ngIf="firstName.errors?.['maxlength']">
          <div class="alert alert-danger" *ngIf="firstName.invalid && firstName.touched">First name must be at most 10
            characters long ...
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="email" placeholder="email" class="form-control"
          [ngClass]="{'is-invalid': email.invalid && email.touched}" ngModel #email='ngModel' required
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      </div>
      <div class="" *ngIf="email.errors?.['required']">
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">Email is required ...
        </div>
      </div>
      <div class="" *ngIf="email.errors?.['pattern']">
        <div class="alert alert-danger" *ngIf="email.invalid && email.touched">Invalid email address ...
        </div>
      </div>
      <div class="form-group">
        <label for="">Address</label>
        <textarea name="address" cols="30" rows="5" placeholder="address" class="form-control"
          [ngClass]="{'is-invalid': address.invalid && address.touched}" ngModel required #address="ngModel"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>